@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d192c;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main_container {
  max-width: 20.5rem;
  height: 34rem;
  background-color: #15263f;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.image {
  background-image: url(images/image-equilibrium.jpg);
  background-size: cover;
  display: block;
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 0.5rem;
  margin: 1.625rem auto;
  overflow: hidden;
}

.eye_image {
  opacity: 0;
  background-color: hsl(178, 100%, 50%, 0.5);
  background-image: url(images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.eye_image:hover {
  opacity: 1;
  cursor: pointer;
}

.title {
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
  margin: auto 1.5rem;
  margin-bottom: 0.75rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 300;
  color: #8bacd9;
  margin: auto 1.5rem;
  line-height: 26px;
  margin-bottom: 1rem;
}
.price_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 1.5rem;
  margin-bottom: 1rem;
}

.left {
  display: flex;
  justify-content: center;
}
.eth_icon {
  width: 0.7rem;
  height: 18px;
}
.eth_text {
  font-size: 1rem;
  font-weight: 600;
  color: #00fff8;
  margin-left: 0.4rem;
  line-height: 19px;
}

.right {
  display: flex;
  align-items: center;
}

.clock_icon {
  width: 1rem;
  height: 1rem;
}
.days_text {
  font-size: 1rem;
  font-weight: 400;
  color: #8bacd9;
  margin-left: 0.47rem;
  line-height: 19px;
}

.divider {
  width: 278px;
  height: 1px;
  background-color: #2e405a;
  margin: auto 25px;
  margin-bottom: 16px;
}

.autor_container {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: 5.25rem;
}
.autor_picture {
  width: 2rem;
  height: 2rem;
}

.autor_text {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  line-height: 19px;
  margin-left: 1rem;
}

span {
  color: #8bacd9;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.autor_container p:hover {
  color: #00fff8;
  cursor: pointer;
}

.title:hover {
  color: #00fff8;
  cursor: pointer;
}
